.color-list {
    display: inline-block;
    vertical-align: middle;
}

.refresh-color {
    display: inline-block;
    vertical-align: middle;
}

.product-image-color-list {
    min-height: 50px;
    display: none;
}

.product-image-color-list.active {
    display: block;
}

.product-image-color-avatar {
    display: none;
}

.product-image-color-avatar.active {
    display: block;
}