body
{
    margin: 0;
    padding: 0;
    font-family: 'fontawesome', 'Arial', sans-serif;
    background: #205334;
    font-size: 80%;
}
a
{
    color: #000;
    text-decoration: none;
}
p
{
    margin: 5px 0;
}
.hidden
{
    display: none !important;
}
.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}
.text-center
{
    text-align: center;
}
#elife-page
{
    width: 946px;

    margin: 0 auto;
    overflow: hidden;
}
#elife-bankpage
{
    width: 1080px;
    margin: 0 auto;
}
.elife-editor
{
    padding: 10px;
    color: #5d605e;
}
.elife-editor img
{
    width: 100%;

}

.elife-line
{
    height: 1px;
    background: #eff1f1;
}
#elife-header
{

    height: 148px;
}
#elife-menu
{
    height: 36px;
    background: url("../image/bg-menu.jpg") repeat-x;
}
#elife-menu ul
{
    padding: 0;
    margin: 0;
}
#elife-menu ul li
{
    display: inline-block;
    padding: 8px 36px;
    border-right: thin solid #95d2a9;
}
#elife-menu ul li a
{
    color: #fff;
    font-size: 1.3em;
}
#elife-search
{
    background: #e0fdea;
    padding: 0px 0px 0px 10px;
    margin: 5px 20px;
    border-radius: 5px;
    border: thin solid #c2c4c4;
}
#elife-search input
{
    border: none;
    background: transparent;
    color: #189d47;
    font-style: italic;
}
#elife-search button
{
    background: #0e612f;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 3px;
    color: #fff;
}
#elife-main-conten
{
    background: #fff;
    padding-left: 37px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#elife-content
{
    width: 654px;

}
#elife-content .item-block
{
    text-align: center;
    border: thin solid #dfe1e0;
    width: 297px;
    margin-top: 27px;
    margin-right: 28px;
}
#elife-content .item-image
{
    height: 195px;
    border-bottom: thin solid #dfe1e0;
    vertical-align: middle;

    width: 297px;
}

#elife-content .item-info
{
    font-size: 0.9em;
    padding: 13px 0;
}
#elife-content .item-title
{
    font-weight: bold;
}
#elife-content .item-summary
{
    color: #2fb494;
}
#elife-content .title
{
    font-weight: bold;
    font-size: 1.2em;
    color: #2fb457;
}
#elife-content a
{
    color: #2fb457;
}
#elife-banner
{

}
#elife-sitebar
{

}
#elife-sitebar .block
{
    border: thin solid #b6d6c0;
    border-radius: 10px;
    width: 245px;
    margin-bottom: 20px;
}
#elife-sitebar .title
{
    background: url("../image/bg-sitebar-title.jpg") no-repeat;
    padding: 7px 0 7px 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
#elife-sitebar ul
{
    margin: 7px 0px;
    padding-left: 35px;
}
#elife-sitebar ul li
{
    list-style: url("../image/bulet.jpg");
}
#elife-sitebar ul li a
{
    color: #666;
}
#elife-sitebar ul li a:hover
{
    color: #1ba049;
    font-weight: bold;
}
#elife-footer
{

    background: #1ea34c;
    text-align: center;

}
#elife-footer #logo
{
    padding: 20px 0;
}
#elife-footer #title
{
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}
#elife-footer #info
{
    font-size: 0.9em;
    color: #abfcc3;
    padding: 10px 0 ;
}
#elife-footer #copyright
{
    font-size: 0.8em;
    color: #abfcc3;
    background: #000;
    opacity: .7;
    padding: 10px 0;
}



.elife-left
{
    float: left;
}
.elife-right
{
    float: right;
}
.elife-clear
{
    clear: both;
}
.elife-center
{
    text-align: center;
}
@font-face {
    font-family: Square721CnBT;
    src: url('../fonts/tt0248m_.ttf');
}
#elife-product-list
{

}
#elife-product-list .product-item
{
    background: #FFF;
    border: #d2d1d1 1px solid;
    width: 297px;
    margin-right: 28px;
    margin-bottom: 28px;
}
#elife-product-list .product-item .info
{
    height: 116px;
}
#elife-product-list .product-item .productname
{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
}
#elife-product-list .product-item .discountpercent
{
    position: absolute;
    background: #fec90b;
    font-weight: bold;
    margin: 10px 20px;
    padding: 3px 7px;
}
#elife-product-list .product-item .price-show
{
    margin-top: 15px;
    margin-right: 15px;
}
#elife-product-list .product-item .price
{
    text-decoration: line-through;
    color: #b3b1b2;
    font-size: 0.8em;
}
#elife-product-list .product-item .pricediscount
{
    font-weight: bold;
}
#elife-product-list .product-item .viewcout
{
    position: absolute;
    margin-top: 80px;
    margin-left: 20px;
    font-size: 0.8em;
    color: #b3b1b2;
}
#elife-product-list .product-item .detail
{
    position: absolute;
    margin-top: 80px;
    margin-left: 435px;
    font-size: 0.8em;
    color: #5980c1;
}
#elife-product-detail
{
    margin: 0 auto;
    background: #fff;
}
#elife-product-detail .productname
{
    font-weight: bold;
}
#elife-product-detail .image
{

}
#elife-product-detail .detail
{
    width: 350px;

}

#elife-product-detail .title
{
    color: #333333;
}
#elife-product-detail .discountpercent
{

    background: #ec1c24;
    font-weight: bold;
    margin: 10px 20px;
    padding: 3px 7px;
    color: #fff;
}
#elife-product-detail .price
{
    text-decoration: line-through;
    color: #b3b1b2;
    font-size: 1.1em;
    font-weight: bold;
}
#elife-product-detail .pricediscount
{
    font-weight: bold;
    color: #ec1c24;
    font-size: 1.2em;
}
#elife-news-list
{

}
#elife-news-list .news-item
{

}
#elife-news-list .news-item img
{
    margin: 0px 10px 10px 0;
}
#elife-news-detail
{
    margin: 0 auto;
    background: #fff;
}
.table-form
{

}
.form-control textarea
{
    height: 100px;
}
.form-control
{
    border: #2fb457 thin solid;
    margin: 5px;
    padding: 5px;
}
.form-group label
{
    margin: 5px;
    font-weight: bold;
}
.form-group .form-control
{
    width: 500px;
}

.btn
{
    background: #2fb457;
    border-radius: 15px;
    color: #ffffff !important;
    padding: 5px 20px;
    font-weight: bold;
}
a .btn
{
    padding: 5px 20px;
}
#elife-btn-menu-mobile
{
    position: fixed;
    top: 20px;
    right: 15px;
    cursor: pointer;
    display: none;
}
#elife-menu-mobile
{
    display: none;
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    background: #2fb457;
}
#elife-menu-mobile ul
{
    padding-left: 10px;
    margin: 0;
}
#elife-menu-mobile ul li
{
    list-style: none;
    padding: 5px;
}
@media only screen and ( max-width: 900px ) {
    #elife-page
    {
        width: 100%;
    }
    #elife-sitebar
    {
        display: none;
    }
    #elife-menu
    {
        display: none;
    }
    #elife-header
    {
        height: auto;
    }
    #elife-header img
    {
        width: 100%;
    }
    #elife-main-conten
    {
        padding: 10px;
    }
    #elife-content
    {
        width: 100%;
    }
    #elife-banner img
    {
        width: 100%;
    }
    #elife-content .item-block
    {
        width: 47%;
        margin: 1%;
    }
    #elife-content .item-image
    {
        width: 100%;
        height: 100%;
    }
    #elife-content .item-image img
    {
        width: 100%;

    }
    #elife-btn-menu-mobile
    {
        display: block;
    }
    .form-group .form-control
    {
        width: 97%;
    }
}
@media only screen and ( max-width: 600px ) {
    #elife-content .item-block
    {
        width: 100%;
        margin: 0;
    }
    #elife-content .item-image
    {
        width: 100%;
        height: 100%;
    }
    .form-group .form-control
    {
        width: 93%;
    }
}