body
{
    margin: 0;
    padding: 0;
    font-family: 'fontawesome', 'Arial', sans-serif;
    background: #205334;
}
a
{
    color: #000;
    text-decoration: none;
}
p
{
    margin: 5px 0;
}
.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}
.text-center
{
    text-align: center;
}
#elife-page
{
    width: 946px;

    margin: 0 auto;
    overflow: hidden;
}
#elife-bankpage
{
    width: 1080px;
    margin: 0 auto;
}
.elife-editor
{
    padding: 10px;
}
.elife-editor img
{
    width: 100%;

}

.elife-line
{
    height: 1px;
    background: #eff1f1;
}
#elife-header
{
    background:url("../image/bg-header.png") no-repeat;
    height: 148px;
}
#elife-menu
{
    height: 36px;
    background: url("../image/bg-menu.jpg") repeat-x;
}
#elife-menu ul
{
    padding: 0;
    margin: 0;
}
#elife-menu ul li
{
    display: inline-block;
    padding: 8px 20px;
}
#elife-menu ul li a
{
    color: #fff;
}
#elife-banner
{
    background: #FFF;
    padding-top: 1px;
    padding-bottom: 4px;
    height: 358px;
}

#elife-footer
{
    height: 57px;
    margin-top: 48px;

}
#elife-footer #home
{
    position: absolute;
    margin-top: -40px;
    margin-left: 23px;
    cursor: pointer;
}
#elife-footer #menu
{
    width: 919px;
    margin-left: 101px;
    position: absolute;

}
#elife-footer #menu ul
{
    list-style: none;
    margin: 9px 0;
    padding: 0;
}
#elife-footer #menu ul li
{
    display: inline-block;
    padding: 0px 28px;
    border-right: 2px #FFF solid;
}
#elife-footer #menu ul li:last-child
{
    border-right: none;
}
#elife-footer #menu ul li a
{
    font-family: Square721CnBT;
    color: #FFF;
    font-size: 2em;

}
#elife-footer #lang
{
    margin-top: 12px;
    margin-right: 15px;
}
#lazadaheader
{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
    padding: 7px 0;
}
#lazadaconn
{

    top: 220px;
    margin-left: 28px;
    width: 1027px;

}
.elife-left
{
    float: left;
}
.elife-right
{
    float: right;
}
.elife-clear
{
    clear: both;
}
@font-face {
    font-family: Square721CnBT;
    src: url('../fonts/tt0248m_.ttf');
}
#elife-product-list
{
    padding: 0 20px;
}
#elife-product-list .product-item
{
    background: #FFF;
    margin: 6px 7px;
    border: #d2d1d1 1px solid;
    width: 503px;
}
#elife-product-list .product-item .info
{
    height: 116px;
}
#elife-product-list .product-item .productname
{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
}
#elife-product-list .product-item .discountpercent
{
    position: absolute;
    background: #fec90b;
    font-weight: bold;
    margin: 10px 20px;
    padding: 3px 7px;
}
#elife-product-list .product-item .price-show
{
    margin-top: 15px;
    margin-right: 15px;
}
#elife-product-list .product-item .price
{
    text-decoration: line-through;
    color: #b3b1b2;
    font-size: 0.8em;
}
#elife-product-list .product-item .pricediscount
{
    font-weight: bold;
}
#elife-product-list .product-item .viewcout
{
    position: absolute;
    margin-top: 80px;
    margin-left: 20px;
    font-size: 0.8em;
    color: #b3b1b2;
}
#elife-product-list .product-item .detail
{
    position: absolute;
    margin-top: 80px;
    margin-left: 435px;
    font-size: 0.8em;
    color: #5980c1;
}
#elife-product-detail
{
    width: 1030px;
    margin: 0 auto;
    background: #fff;
}
#elife-product-detail .productname
{
    font-weight: bold;
}
#elife-product-detail .image
{
    padding: 25px;
}
#elife-product-detail .detail
{
    width: 510px;
    padding-top: 20px;
    padding-right: 20px;
}

#elife-product-detail .title
{
    width: 134px;
    color: #333333;
}
#elife-product-detail .discountpercent
{

    background: #ec1c24;
    font-weight: bold;
    margin: 10px 20px;
    padding: 3px 7px;
    color: #fff;
}
#elife-product-detail .price
{
    text-decoration: line-through;
    color: #b3b1b2;
    font-size: 1.1em;
    font-weight: bold;
}
#elife-product-detail .pricediscount
{
    font-weight: bold;
    color: #ec1c24;
    font-size: 1.2em;
}
#elife-news-list
{
    padding: 15px;
}
#elife-news-list .news-item
{
    margin: 11px;
    width: 503px;
}
#elife-news-detail
{
    width: 1030px;
    margin: 0 auto;
    background: #fff;
}